description = "Header"
==
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-6">
                <a class="navbar-brand" href="#"><img src="themes/pl-landing/assets/images/logo.png" alt=""/></a>
            </div>
            <div class="col-xs-2 col-sm-6">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">learn</a></li>
                            <li><a href="#">community</a></li>
                            <li><a href="#">prescription help</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</header>